In [6]:
import pandas as pd
album_sales = pd.read_csv('albumsales.csv')

album_sales.info()
print(album_sales)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 390 entries, 0 to 389
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Year                    375 non-null    float64
 1   Ranking                 320 non-null    float64
 2   Artist                  375 non-null    object
 3   Album                   375 non-null    object
 4   Worldwide Sales (Est.)  375 non-null    object
 5   CDs                     375 non-null    float64
 6   Tracks                  375 non-null    float64
 7   Album Length            375 non-null    object
 8   Hours                   375 non-null    float64
 9   Minutes                 375 non-null    float64
 10  Seconds                 375 non-null    float64
 11  Genre                   375 non-null    object
dtypes: float64(7), object(5)
memory usage: 36.7+ KB
       Year  Ranking               Artist  \
0    2019.0      8.0               Arashi
1    2017.0      8.0           Elton John
2    1995.0      4.0      Michael Jackson
3    2015.0      6.0  Broadway Soundtrack
4    2003.0     10.0              Outkast
..      ...      ...                  ...
385     NaN      NaN                  NaN
386     NaN      NaN                  NaN
387     NaN      NaN                  NaN
388     NaN      NaN                  NaN
389     NaN      NaN                  NaN

                                      Album Worldwide Sales (Est.)  CDs  \
0             5x20 All The Best!! 1999-2019              3,300,000  4.0
1                                  Diamonds              3,220,000  2.0
2    History: Past, Present & Future Book I             20,000,000  2.0
3                                  Hamilton              4,835,000  2.0
4             Speakerboxxx / The Love Below              7,012,000  2.0
..                                      ...                    ...  ...
385                                     NaN                    NaN  NaN
386                                     NaN                    NaN  NaN
387                                     NaN                    NaN  NaN
388                                     NaN                    NaN  NaN
389                                     NaN                    NaN  NaN

     Tracks Album Length  Hours  Minutes  Seconds    Genre
0      67.0      5:04:02   5.07   304.03  18242.0      Pop
1      34.0      2:35:47   2.60   155.78   9347.0     Rock
2      30.0      2:28:51   2.48   148.85   8931.0      Pop
3      46.0      2:22:13   2.37   142.22   8533.0  Hip Hop
4      39.0      2:14:39   2.24   134.65   8079.0  Hip Hop
..      ...          ...    ...      ...      ...      ...
385     NaN          NaN    NaN      NaN      NaN      NaN
386     NaN          NaN    NaN      NaN      NaN      NaN
387     NaN          NaN    NaN      NaN      NaN      NaN
388     NaN          NaN    NaN      NaN      NaN      NaN
389     NaN          NaN    NaN      NaN      NaN      NaN

[390 rows x 12 columns]

In [14]:
new_albumSales= album_sales.drop(columns=['Tracks', 'CDs', 'Album Length', 
                                          'Hours', 'Minutes', 'Seconds', 'Ranking' ])


new_albumSales.to_csv('newalbumSales.csv', index=False)
new_albumSales = pd.read_csv('new_albumSales.csv')



new_albumSales

,Year,Artist,Album,Worldwide Sales (Est.),Genre
0,2019,Arashi,5x20 All The Best!! 1999-2019,"3,300,000",Pop
1,2017,Elton John,Diamonds,"3,220,000",Rock
2,1995,Michael Jackson,"History: Past, Present & Future Book I","20,000,000",Pop
3,2015,Broadway Soundtrack,Hamilton,"4,835,000",Hip Hop
4,2003,Outkast,Speakerboxxx / The Love Below,"7,012,000",Hip Hop
...,...,...,...,...,...
370,2011,David Guetta,Nothing But The Beat,"3,089,144",Pop
371,2010,Susan Boyle,The Gift,"3,555,000",Classical
372,2010,P!NK,Greatest Hits So Far,"3,526,000",Pop
373,2010,Drake,Thank Me Later,"3,460,000",Hip Hop
374,2010,Nicki Minaj,Pink Friday,"3,370,000",Hip Hop

In [ ]:
# SQL 
# SELECT 
# 	"Year", 
# 	"Album", 
# 	"WorldwideSales(Est.)"
# From new_albumsales
# ORDER BY YEAR ASC

#Deleting rows from before 2010
# DELETE 
# FROM new_albumsales
# WHERE YEAR < 2010;

# DELETE
# FROM new_albumsales
# WHERE YEAR > 2020;

# #list going from 2010s to 2020
# SELECT *
# FROM new_albumsales
# ORDER BY YEAR ASC

# SELECT a.Artist,
# 	   a.Album,
# 	   a.Genre,
# 	   a.Year,
# 	   a."WorldwideSales(Est.)",
# 	b.GrammysWon, 
# 	b.Billboard200
	
# FROM new_albumSales a
# INNER JOIN grammys b
# 	ON a.Album = b.Album
# ORDER BY a.YEAR ASC;